<!doctype html>
<html>
  <head>
    <title>eab.so</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>eab.so</h1>
    <p>this is not the link you are looking for</p>
  </body>
</html>
