body {
  text-align: center;
}

fieldset {
  border: none;
}

#url {
  width: 20em;
}

#result {
  margin: 0;
}

#waiting {
  display: none;
}

.error {
  color: #800;
  font-style: oblique;
}

ul {
  list-style: none;
  display: inline-block;
  text-align: left;
  min-width: 50%;
}

li {
  display: block;
  padding: 0.5em 0;
  clear: both;
}

li~li {
  border-top: 1px solid #ddd;
}

li p {
  padding: 0;
  margin: 0;
}

li .link {
  font-size: 1.5em;
  font-weight: bold;
}

li .author {
  font-style: italic;
}

li img.thumb {
  float: right;
  height: 4.5em;
  width: 6em;
  margin: 0 0.5em 0.5em 0;
}

